[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy="1.23.2"
opencv_python="4.6.0.66"
pure_python_adb="0.3.0.dev0"
docopt="0.6.2"
python-dotenv="0.21.0"
psutil="5.9.3"
pyspin="1.1.1"

[dev-packages]

[scripts]
epic7 = "python ."
"test:screen" = "python tests/manual/TestScreen.py"

[requires]
python_version = "3.9"
