.version {
    position: absolute;
    display: flex;
    bottom: 0; 
    width: 100%;
    color: rgba(255, 255, 255, 0.65);
    justify-content: center;
    padding-bottom: 12px;
    font-style: italic;
}